<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>

  <appSettings>
    <add key="NAME" value="QA"/>
    <add key="SAP_USERNAME" value="xxx"/>
    <add key="SAP_PASSWORD" value="xxx"/>
    <add key="SAP_CLIENT" value="100"/>
    <add key="SAP_APPSERVERASHOST" value="xxx.xxx.x.xxx"/>
    <add key="SAP_SYSTEMNUM" value="00"/>
    <add key="SAP_LANGUAGE" value="EN"/>
    <add key="SAP_POOLSIZE" value="10"/>
    <add key="SAP_SYSTEM_TN" value="10"/>
  </appSettings>
  
</configuration>